### Loading, Modifying, and Cleaning dataset
---

In [ ]:
import pandas as pd

In [59]:
#load dataset
df = pd.read_csv('Downloads/dummy_data.csv')

In [60]:
#show first 5 rows of DataFrame
df.head(5)

,age,gender,time_spent,platform,interests,location,demographics,profession,income,indebt,isHomeOwner,Owns_Car
0,56,male,3,Instagram,Sports,United Kingdom,Urban,Software Engineer,19774,True,False,False
1,46,female,2,Facebook,Travel,United Kingdom,Urban,Student,10564,True,True,True
2,32,male,8,Instagram,Sports,Australia,Sub_Urban,Marketer Manager,13258,False,False,False
3,60,non-binary,5,Instagram,Travel,United Kingdom,Urban,Student,12500,False,True,False
4,25,male,1,Instagram,Lifestlye,Australia,Urban,Software Engineer,14566,False,True,True

In [61]:
#show last 5 rows of DataFrame
df.tail(5)

,age,gender,time_spent,platform,interests,location,demographics,profession,income,indebt,isHomeOwner,Owns_Car
995,22,female,8,Instagram,Lifestlye,United Kingdom,Rural,Marketer Manager,18536,False,True,False
996,40,non-binary,6,YouTube,Travel,United Kingdom,Rural,Software Engineer,12711,True,False,False
997,27,non-binary,5,YouTube,Travel,United Kingdom,Rural,Student,17595,True,False,True
998,61,female,4,YouTube,Sports,Australia,Sub_Urban,Marketer Manager,16273,True,True,False
999,19,female,8,YouTube,Travel,Australia,Rural,Student,16284,False,True,False

In [62]:
#shows columns in DataFrame
df.columns

Index(['age', 'gender', 'time_spent', 'platform', 'interests', 'location',
       'demographics', 'profession', 'income', 'indebt', 'isHomeOwner',
       'Owns_Car'],
      dtype='object')

In [63]:
#check/display and empty values in dataset
empty_values = df.isnull().sum()
print(empty_values)

age             0
gender          0
time_spent      0
platform        0
interests       0
location        0
demographics    0
profession      0
income          0
indebt          0
isHomeOwner     0
Owns_Car        0
dtype: int64

---
*After we have confirmed the Columns and checked if there were any empty values we can now remove the columns that we are not going to be using for the analysis.*

In [64]:
#remove unwanted columns and save dataset as 'modified'
columns_to_drop = ['isHomeOwner', 'Owns_Car', 'indebt', 'income', 'profession']

df.drop(columns = columns_to_drop, inplace = True)

df.to_csv('modified_dummy_data.csv', index = False)

In [40]:
#show updated columns
df.columns

Index(['age', 'gender', 'time_spent', 'platform', 'interests', 'location',
       'demographics'],
      dtype='object')

*We've removed isHomeOwner, Owns_Car, indebt, income, and profession as they are not necessary for this specific analysis*
___